<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<security:http auto-config="true" entry-point-ref="digestEntryPoint">-->
    <security:http auto-config="true">

        <!--Folowing is an attribute of form-login-->
        <!--authentication-failure-handler-ref="serverErrorHandler"-->
        <security:form-login login-page="/custom_login"
                             authentication-failure-url="/custom_login?error"
                             username-parameter="user_param"
                             password-parameter="pass_param"/>
        <security:logout delete-cookies="JSESSIONID" logout-success-url="/custom_login"/>
        <!-- <security:custom-filter ref="digestFilter"
                                 before="BASIC_AUTH_FILTER"/>-->
        <!--<security:http-basic />-->
        <security:intercept-url pattern="/admin/**/*" access="ROLE_ADMIN"/>
    </security:http>

    <!--Beans-->
    <!--<bean id="serverErrorHandler" class="com.apress.pss.terrormovies.security.ServerErrorFailureHandler"/>-->

    <!--<bean id="digestFilter" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <property name="userDetailsService" ref="userService"/>
        <property name="authenticationEntryPoint" ref="digestEntryPoint"/>
    </bean>

    <bean id="digestEntryPoint" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <property name="realmName" value="terrormovies-realm"/>
        <property name="key" value="terrorific"/>
    </bean>-->

    <!--<bean id="logoutRedirectToAny"-->
          <!--class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">-->
        <!--<property name="targetUrlParameter" value="redirectTo" />-->
    <!--</bean>-->

    <security:authentication-manager>
        <security:authentication-provider>
            <!--<security:user-service id="userService">-->
            <security:user-service>
                <security:user name="admin" authorities="ROLE_ADMIN" password="admin"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>